{% extends 'KellsBackBundle:Default:base.html.twig' %}
{% block body %}
<div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="login-panel panel panel-default">
                  	<div class="panel-heading fondo-blanco">
                        <div class="panel-title text-center login-header"><img src="{{ asset('bundles/kellsback/images/logo-alarfin.png') }}" width="178" height="59" alt="Alarfin"></div>
                    </div>
                    <div class="panel-body login-body">
                    {% if error %}
					<div>{{ error.message }}</div>
					{% endif %}
          				<!--div class="alert alert-danger text-center" role="alert">Los datos son incorrectos, intente nuevamente.</div-->
                        <form role="form" name="form" method="post" action="{{ path('admin_check') }}">
                            <div class="form-group">
                                <label for="usuario">Email</label>
                                <input class="form-control input-lg" name="_mail" type="text" id="email" value="{{ last_mail }}" tabindex="1" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="pass">Contrase&ntilde;a</label>
                                <input class="form-control input-lg" name="_password" type="password" id="pass"  tabindex="2">
                            </div>
                            <input name="submit" type="submit" class="btn btn-lg btn-primary btn-block" value="Ingresar" tabindex="3" >
                        </form>
                    </div>
                    <div class="panel-footer text-center login-footer">
                    <a href="{{path('recuperar-admin')}}">Olvid&eacute; mi contrase&ntilde;a</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endblock %}