{% extends 'KellsBackBundle:Default:base2.php.twig' %}
{% block body %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Editar usuario</h1>
                </div>
            </div>
		  	<div class="row">       
                <form role="form" method="post" action="{{path('saveLicensee')}}">
                <div class="col-md-12">
                    <div class="well well-gris-claro">
                        <div class="row">
                            <div class="col-sm-6">                                
                                <div class="form-group">
                                    <label for="razonSocial">Razón Social</label>
                                    <input name="razonSocial" type="text" autofocus required class="form-control" id="razonSocial" tabindex="1" value="{{user.socialReason}}">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="fatnasia">Nombre de Fantasía</label>
                                    <input name="fantasia" type="text" required class="form-control" id="fantasia" tabindex="2" value="{{user.fantasyName}}">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="cuit">Cuit</label>
                                    <input name="cuit" type="text" required class="form-control" id="cuit" tabindex="3" value="{{user.cuit}}">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" type="email" required class="form-control" id="email" tabindex="4" value="{{user.mail}}">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="telefono">Tel&eacute;fono</label>
                                    <input name="telefono" type="tel" required class="form-control" id="telefono" tabindex="5" value="{{user.telephone}}">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                  <label for="contrasena">Contrase&ntilde;a</label>
                                    <input name="contrasena" type="password" required class="form-control" id="contrasena" tabindex="6" value="{{user.password}}">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="repetircontrasena">Repetir contrase&ntilde;a</label>
                                    <input name="repetircontrasena" type="password" required class="form-control" id="repetircontrasena" tabindex="7" value="{{user.password}}">
                                </div>
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="col-md-12 toppad botpad text-center"> 
                    <input type="button" value="Cancelar" class="btn btn-default" onClick="location.href='{{path('concesionarias')}}'"> &nbsp; <input type="submit" value="Guardar cambios" class="btn btn-primary btn-lg">
                    <input name="id"  id="id" tabindex="6" value="{{user.id}}" type="hidden">
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}