<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{path('usuarios')}}"><i class="fa fa-users fa-fw"></i> &nbsp; Usuarios</a>
            </li>
            <li>
                <a href="{{path('concesionarias')}}"><i class="fa fa-building fa-fw"></i> &nbsp; Concesionarias</a>
            </li>
            <li>
                <a href="{{path('publicaciones')}}"><i class="fa fa-car fa-fw"></i> &nbsp; Publicaciones</a>
            </li>
            <li>
                <a href="{{path('creditos')}}"><i class="fa fa-money fa-fw"></i> &nbsp; Cr&eacute;ditos</a>
            </li>
            <li>
                <a href="{{path('alarfin')}}"><i class="fa fa-user fa-fw"></i> &nbsp; Usuarios Alarfin</a>
            </li>
            <li></li>
            <li>
                <a href="{{path('configuracion')}}"><i class="fa fa-gear fa-fw"></i> &nbsp; Configuraci&oacute;n</a>
            </li>
            <li class="visible-xs">
            	<a href="#"><i class="fa fa-sign-out fa-fw"></i> &nbsp; Salir</a>
            </li>
        </ul>
    </div>
</div>