{% extends 'KellsBackBundle:Default:base2.php.twig' %}
{% block body %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Ver cr&eacute;dito</h1>
                </div>
            </div>            
		  	<div class="row">
				<form role="form">
                       <div class="col-md-12">
                        	<div class="well well-gris-claro">
                                <div class="row">
                                	<div class="col-sm-12">
                                        <div class="alert alert-titulo" role="alert">
                                            <h4 class="nomar text-uppercase"> usuario / concesionaria</h4>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6">                                
                                        <div class="form-group">
                                            <label for="publicador-tipo">Tipo</label>
                                            <label name="publicador-tipo" id="publicador-tipo" class="form-control input-lg" disabled>{{tipoUsuario}}</label>
                                        </div> 
                                    </div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="publicador-nombre">Nombre</label>
                                            <input type="text" name="publicador-nombre" value="{{credito.user}}" id="publicador-nombre" class="form-control input-lg" disabled>
                                        </div>
                                    </div>
                                </div>
	                   		</div> 
                        </div>
                        <div id="solicitante-1">                   
                        <div class="col-md-12 topmar">
                        	<div class="well well-gris-claro">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-titulo" role="alert">
                                            <h4 class="nomar text-uppercase">Datos del solicitante 1</h4>
                                        </div>
                                    </div> 
                                	<div class="col-sm-5"> 
                                        <div class="form-group">
                                            <label for="solicitante-nombre">Nombre</label>
                                          <input name="solicitante-nombre" type="text" autofocus disabled class="form-control input-lg" id="solicitante-nombre" tabindex="1" value="{{credito.nombreSolicitante}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-5"> 
                                        <div class="form-group">
                                            <label for="solicitante-apellido">Apellido</label>
                                            <input name="solicitante-nombre" type="text" disabled class="form-control input-lg" id="solicitante-apellido" tabindex="2" value="{{credito.apellidoSolicitante}}">
                                        </div>
                                    </div>
                                    {% if tipoUsuario == 'Concesionaria' %}
                                    <div class="col-sm-2"> 
                                        <div class="form-group">
                                            <label for="porcentaje">Porcentaje</label>
                                          <input type="number" name="porcentaje" id="porcentaje" min="1" max="100" disabled class="form-control input-lg" tabindex="1" value="100">
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                  <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-dni">DNI</label>
                                            <input name="solicitante-dni" type="number" disabled class="form-control" id="solicitante-dni" tabindex="3" value="{{credito.dniSolicitante}}" maxlength="8">
                                        </div>
                                  </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-nacimiento">Fecha de nacimiento</label>
                                            <input name="solicitante-nacimiento" type="date" disabled class="form-control" id="solicitante-nacimiento" tabindex="4" value="{{credito.nacimientoSolicitante}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-estado-civil">Estado civil</label>
                                            <input type="input" name="solicitante-estado-civil" id="solicitante-estado-civil" disabled class="form-control" tabindex="5" value="{{credito.estadoCivilSolicitante}}">
                                            	
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-domicilio">Domicilio</label>
                                            <input name="solicitante-domicilio" type="text" disabled class="form-control" id="solicitante-domicilio" tabindex="6" value="{{credito.domicilioSolicitante}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-provincia">Provincia</label>
                                            <input type="text" name="solicitante-provincia" id="solicitante-provincia" value="{{credito.provinciaSolicitante}}" disabled class="form-control" tabindex="7">
                                        </div>
                                    </div>
                                  <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-ciudad">Ciudad</label>
                                            <input type="text" value="{{credito.ciudadSolicitante}}" name="solicitante-ciudad" id="solicitante-ciudad" disabled class="form-control" tabindex="8">
                                        </div>
                                  </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-celular">Tel&eacute;fono celular</label>
                                            <input name="solicitante-celular" type="tel" disabled class="form-control" id="solicitante-celular" tabindex="9" value="{{credito.celularSolicitante}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-telefono">Tel&eacute;fono fijo</label>
                                            <input name="solicitante-telefono" type="tel" disabled class="form-control" id="solicitante-telefono" tabindex="10" value="{{credito.fijoSolicitante}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-email">Email</label>
                                            <input name="solicitante-email" type="email" disabled class="form-control" id="solicitante-email" tabindex="11" value="{{credito.mailSolicitante}}">
                                        </div>
                                    </div>     
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-laboral">Actividad laboral</label>
                                          <input name="solicitante-laboral" type="text" disabled class="form-control" id="solicitante-laboral" tabindex="12" value="{{credito.actividadLaboralSolicitante}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-telefono-trabajo">Tel&eacute;fono del trabajo</label>
                                            <input name="solicitante-telefono-trabajo" type="tel" disabled class="form-control" id="solicitante-telefono-trabajo" tabindex="13" value="{{credito.telLaboralSolicitante}}">
                                        </div>
                                    </div> 
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="solicitante-fotocopia-dni">Fotocopia del DNI</label><br>
                                          {% if credito.fotocopiaDniSolicitante  %}
                                            <a href="{{asset(credito.fotocopiaDniSolicitante.webPath)}}" target="_blank">Ver archivo</a>
                                            {% endif %}
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="solicitante-fotocopia-dni2">Fotocopia del DNI 2</label><br>
                                             {% if credito.fotocopiaDni2Solicitante  %}
                                            <a href="{{asset(credito.fotocopiaDni2Solicitante.webPath)}}" target="_blank">Ver archivo</a>
                                            {% endif %}
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="solicitante-fotocopia-recibo">Fotocopia del recibo de sueldo</label><br>
                                          {% if credito.fotocopiaReciboSolicitante  %}
                                            <a href="{{asset(credito.fotocopiaReciboSolicitante.webPath)}}" target="_blank">Ver archivo</a>
                                          {% endif %}
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="solicitante-fotocopia-ingresos">Fotocopia de comprobante de ingresos</label><br>
                                          {% if credito.fotocopiaIngresosSolicitante  %}
                                            <a href="{{asset(credito.fotocopiaIngresosSolicitante.webPath)}}" target="_blank">Ver archivo</a>
                                          {% endif %}
                                        </div>
                                    </div>
                                     <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="solicitante-fotocopia-vehiculo">Título del vehículo</label><br>
                                             {% if credito.fotocopiaVehiculo  %}
                                            <a href="{{asset(credito.fotocopiaVehiculo.webPath)}}" target="_blank">Ver archivo</a>
                                            {% endif %}
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="solicitante-fotocopia-otra-1">Otra fotocopia</label><br>
                                            {% if credito.fotocopiaOtra1Solicitante  %}
                                            <a href="{{asset(credito.fotocopiaOtra1Solicitante.webPath)}}" target="_blank">Ver archivo</a>
                                            {% endif %}
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="solicitante-fotocopia-otra-2">Otra fotocopia</label><br>
                                          	{% if credito.fotocopiaOtra2Solicitante  %}
                                            <a href="{{asset(credito.fotocopiaOtra2Solicitante.webPath)}}" target="_blank">Ver archivo</a>
                                            {% endif %}
                                        </div>
                                    </div> 
									<div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="solicitante-fotocopia-servicio">Fotocopia de un servicio</label><br>
                                             {% if credito.fotocopiaServicioSolicitante  %}
                                            <a href="{{asset(credito.fotocopiaServicioSolicitante.webPath)}}" target="_blank">Ver archivo</a>
                                            {% endif %}
                                        </div>
                                    </div> 
                            {% if credito.estadoCivilSolicitante == 'Casado/a' %}
							<div id="conyuge-1">
                                   <div class="col-sm-12 topmar">
                                   	<div class="alert alert-titulo" role="alert">
                                        <h4 class="nomar text-uppercase">Datos del c&oacute;nyuge 1</h4>
                                    </div>
                                   </div> 
                                     
								<div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="conyuge-nombre">Nombre</label>
                                          <input name="conyuge-nombre" type="text" autofocus disabled class="form-control input-lg" id="conyuge-nombre" tabindex="20" value="{{credito.nombreConyuge}}">
                                        </div>
                                </div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="conyuge-apellido">Apellido</label>
                                            <input name="conyuge-nombre" type="text" disabled class="form-control input-lg" id="conyuge-apellido" tabindex="21" value="{{credito.apellidoConyuge}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-dni">DNI</label>
                                            <input name="conyuge-dni" type="number" autofocus disabled class="form-control" id="conyuge-dni" tabindex="22" value="{{credito.dniConyuge}}" maxlength="8">
                                        </div>
                                    </div>
									<div class="col-sm-4"> 
                                      <div class="form-group">
                                            <label for="conyuge-estado-civil">Estado civil</label>
                                            <input type="text" name="conyuge-estado-civil" id="conyuge-estado-civil" disabled class="form-control" tabindex="23" value="{{credito.estadoCivilConyuge}}">
                                            	
                                    </div>
                                </div>
                                <div class="clearfix"></div>
									<div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-domicilio">Domicilio</label>
                                          <input name="conyuge-domicilio" type="text" disabled class="form-control" id="conyuge-domicilio" tabindex="24" value="{{credito.domicilioConyuge}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                          <label for="conyuge-provincia">Provincia</label>
                                          <input name="conyuge-provincia" id="conyuge-provincia" disabled class="form-control" tabindex="25" value="{{credito.provinciaConyuge}}">
                                        </div>
                                    </div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                          <label for="conyuge-ciudad">Ciudad</label>
                                          <input type="text" name="conyuge-ciudad" id="conyuge-ciudad" disabled class="form-control" tabindex="26" value="{{credito.ciudadConyuge}}">
                                        </div>
                                </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                          <label for="conyuge-celular">Tel&eacute;fono celular</label>
                                            <input name="conyuge-celular" type="tel" disabled class="form-control" id="conyuge-celular" tabindex="27" value="{{credito.celularConyuge}}">
                                      </div>
                                </div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-telefono">Tel&eacute;fono fijo</label>
                                            <input type="tel" name="conyuge-telefono" id="conyuge-telefono" class="form-control" tabindex="28" disabled value="{{credito.fijoConyuge}}">
                                        </div>
                                  </div>    
                                  <div class="clearfix"></div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-laboral">Actividad laboral</label>
                                          <input name="conyuge-laboral" type="text" disabled class="form-control" id="conyuge-laboral" tabindex="29" value="{{credito.actividadLaboralConyuge}}">
                                        </div>
                                </div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-telefono-trabajo">Tel&eacute;fono del trabajo</label>
                                          <input name="conyuge-telefono-trabajo" type="tel" disabled class="form-control" id="conyuge-telefono-trabajo" tabindex="30" value="{{credito.telLaboralConyuge}}">
                                        </div>
                                </div>
                                 <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="conyuge-fotocopia-dni">Fotocopia del DNI</label><br>
                                          {% if credito.fotocopiaDniConyuge %}
                                            <a href="{{asset(credito.fotocopiaDniConyuge.webPath)}}" target="_blank">Ver archivo</a>
                                          {% endif%}
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="conyuge-fotocopia-otra-1">Otra fotocopia</label><br>
                                            {% if credito.fotocopiaOtra1Conyuge %}
                                            <a href="{{asset(credito.fotocopiaOtra1Conyuge.webPath)}}" target="_blank">Ver archivo</a>
                                             {% endif%}
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="conyuge-fotocopia-otra-2">Otra fotocopia</label><br>
                                          {% if credito.fotocopiaOtra2Conyuge %}
                                            <a href="{{asset(credito.fotocopiaOtra2Conyuge.webPath)}}" target="_blank">Ver archivo</a>
                                             {% endif%}
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="conyuge-fotocopia-otra-3">Otra fotocopia</label><br>
                                            {% if credito.fotocopiaOtra3Conyuge %}
                                            <a href="{{asset(credito.fotocopiaOtra3Conyuge.webPath)}}" target="_blank">Ver archivo</a>
                                            {% endif%}
                                        </div>
                                    </div> 
                                    </div>
                                </div>
	                   		</div> 
                        </div>
                        </div>
                       {% endif %}
						{% if tipoUsuario == 'Concesionaria' %}
						<div id="garante-1">
                        <div class="col-md-12 topmar">
                        	<div class="well well-gris-claro">
                              <div class="row">
                              		<div class="col-sm-12">
                                        <div class="alert alert-titulo" role="alert">
                                            <h4 class="nomar text-uppercase">Datos del garante 1</h4>
                                        </div>
                                    </div> 
									<div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="garante-nombre">Nombre</label>
                                          <input name="garante-nombre" type="text" autofocus disabled class="form-control input-lg" id="garante-nombre" tabindex="40" value="Miguel Angel">
                                        </div>
                                </div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="garante-apellido">Apellido</label>
                                            <input name="garante-nombre" type="text" disabled class="form-control input-lg" id="garante-apellido" tabindex="41" value="Ortigoza">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="garante-dni">DNI</label>
                                            <input name="garante-dni" type="number" autofocus disabled class="form-control" id="garante-dni" tabindex="42" value="28547365" maxlength="8">
                                        </div>
                                    </div>
									<div class="col-sm-4"> 
                                      <div class="form-group">
                                            <label for="garante-estado-civil">Estado civil</label>
                                            <select type="date" name="garante-estado-civil" id="garante-estado-civil" class="form-control" tabindex="43" disabled>
                                            	<option>&nbsp;</option>
                                                <option selected>Soltero/a</option>
                                                <option selected>Casado/a</option>
                                                <option>Divorciado/a</option>
                                                <option>Viudo/a</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
									<div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="garante-domicilio">Domicilio</label>
                                            <input name="garante-domicilio" type="text" disabled class="form-control" id="garante-domicilio" tabindex="44" value="Corrientes 523 5&ordm;A">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="garante-provincia">Provincia</label>
                                            <select name="garante-provincia" id="garante-provincia" disabled class="form-control" tabindex="45">
                                            	<option>&nbsp;</option>
                                                <option>Buenos Aires</option>
                                                <option selected="selected">Capital Federal</option>
                                                <option>C&oacute;rdoba</option>
                                            </select>
                                        </div>
                                    </div>
                                  <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="garante-ciudad">Ciudad</label>
                                            <select name="garante-ciudad" id="garante-ciudad" disabled class="form-control" tabindex="46">
                                            	<option>&nbsp;</option>
                                                <option>Ciudad 1</option>
                                                <option selected="selected">Ciudad 2</option>
                                            </select>
                                        </div>
                                </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="garante-celular">Tel&eacute;fono celular</label>
                                            <input name="garante-celular" type="tel" disabled class="form-control" id="garante-celular" tabindex="47" value="15-8547-5524">
                                      </div>
                                </div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="garante-telefono">Tel&eacute;fono fijo</label>
                                            <input name="garante-telefono" type="tel" disabled class="form-control" id="garante-telefono" tabindex="48" value="5485-5577">
                                        </div>
                                </div>    
                                  <div class="clearfix"></div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="garante-laboral">Actividad laboral</label>
                                            <input name="garante-laboral" type="text" disabled class="form-control" id="garante-laboral" tabindex="49" value="Comerciante">
                                        </div>
                                </div>
                                      <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="garante-telefono-trabajo">Tel&eacute;fono del trabajo</label>
                                            <input name="garante-telefono-trabajo" type="tel" disabled class="form-control" id="garante-telefono-trabajo" tabindex="50" value="8547-5524">
                                        </div>
                                    </div>
									<div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="garante-fotocopia-servicio">Fotocopia de un servicio</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="garante-fotocopia-dni">Fotocopia del DNI</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="garante-fotocopia-recibo">Fotocopia del recibo de sueldo</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="garante-fotocopia-ingresos">Fotocopia de comprobante de ingresos</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="garante-fotocopia-otra-1">Otra fotocopia</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="garante-fotocopia-otra-2">Otra fotocopia</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                              </div>
	                   		</div> 
                        </div>
                        </div>
						{% endif %}	
	                    <div class="col-md-12 topmar">
                        	<div class="well well-gris-claro">
                              <div class="row">
                              		<div class="col-sm-12">
                                        <div class="alert alert-titulo" role="alert">
                                            <h4 class="nomar text-uppercase">Unidad a adquirir</h4>
                                        </div>
                                    </div> 
                                    <div class="col-sm-5">                                
                                        <div class="form-group">
                                            <label for="marca">Marca</label>
                                            <input name="marca" id="marca" class="form-control input-lg" disabled tabindex="60" value="{{credito.marca}}"> 
                                            	
                                        </div>
                                    </div>
                                    <div class="col-sm-5"> 
                                      <div class="form-group">
                                            <label for="modelo">Modelo</label>
                                            <input name="modelo" id="modelo" class="form-control input-lg" disabled tabindex="61" value="{{credito.modelo}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">                                
                                        <div class="form-group">
                                          <label for="ano">Año</label>
                                          <input name="ano" id="ano" disabled class="form-control input-lg" tabindex="62" type="text" value="{{credito.year}}">
                                            	
                                        </div>
                                    </div>
                                    <div class="col-sm-3"> 
                                        <div class="form-group">
                                            <label for="valor">Valor</label>
                                            <input type="text" name="valor" id="valor" disabled class="form-control" tabindex="63" value="{{credito.valor}}">
                                        </div>
                                	</div>
                                    <div class="col-sm-3"> 
                                        <div class="form-group">
                                            <label for="tipo">Tipo</label>
                                            <input type="text" name="tipo" id="tipo" disabled class="form-control" tabindex="64" value="{{credito.type}}" >
                                            	
                                        </div>
                                	</div>
                                    <div class="col-sm-3"> 
                                        <div class="form-group">
                                            <label for="dominio">Dominio</label>
                                            <input type="text" name="dominio" id="dominio" class="form-control" tabindex="65" disabled value="{{credito.domain}}">
                                        </div>
                                	</div>
                                    <div class="col-sm-3">                                
                                        <div class="form-group">
                                          <label for="combustible">Combustible</label>
                                          <input type="text" name="combustible" id="combustible" disabled class="form-control" tabindex="66" value="{{credito.combustible}}">
                                        </div>
                                    </div>
                                    {% if tipoUsuario == "Concesionaria" %}
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="seguro">Seguro</label>
                                            <input type="text" name="seguro" id="seguro" disabled class="form-control" tabindex="67" value="La Caja contra terceros">
                                        </div>
                                	</div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="tarjeta">D&eacute;bito en tarjeta</label>
                                            <input type="text" name="tarjeta" id="tarjeta" class="form-control" tabindex="68" disabled value="Visa">
                                        </div>
                                	</div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="tarjeta-numero">N&uacute;mero de tarjeta</label>
                                            <input type="text" name="tarjeta-numero" id="tarjeta-numero" class="form-control" tabindex="69" disabled value="4546 1245 1222 6723">
                                        </div>
                                	</div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="tarjeta-codigo">C&oacute;digo de seguridad</label>
                                            <input type="text" name="tarjeta-codigo" id="tarjeta-codigo" class="form-control" tabindex="70" disabled value="352">
                                        </div>
                                	</div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="tarjeta-vencimiento">Vencimiento</label>
                                            <input type="text" name="tarjeta-vencimiento" id="tarjeta-vencimiento" class="form-control" tabindex="71" disabled value="10/04/2020">
                                        </div>
                                	</div>
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="unidad-fotocopia-1">Fotocopia referente a la unidad</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="unidad-fotocopia-2">Fotocopia referente a la unidad</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="unidad-fotocopia-3">Fotocopia referente a la unidad</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="unidad-fotocopia-4">Fotocopia referente a la unidad</label><br>
                                            <a href="#" target="_blank">Ver archivo</a>
                                        </div>
                                    </div> 
                                    {%  endif %}
                                </div>
	                   		</div> 
                        </div>                        
                                        
 
                        <div class="col-md-12 topmar">
                        	<div class="well well-gris-claro">
                              <div class="row">
                              		<div class="col-sm-12">
                                        <div class="alert alert-titulo" role="alert">
                                            <h4 class="nomar text-uppercase">Cr&eacute;dito prendario</h4>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6">                                
                                        <div class="form-group">
                                            <label for="monto">Monto solicitado</label>
                                          	<input type="text" name="monto" id="monto" disabled class="form-control input-lg" tabindex="80" value="${{credito.montoCredito}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6"> 
                                      <div class="form-group">
                                            <label for="cuotas">Cuotas</label>
                                            <input name="cuotas" id="cuotas" class="form-control input-lg" disabled tabindex="81" type="text" value="{{credito.cantidadCuotas}}">
												
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    	<h5 class="nomar"><strong>Valor de la cuota</strong></h5>
                                        <h1 class="topmar10">${{credito.valorCuota}}</h1>
                                    </div>
                                    <div class="col-sm-3">
                                    	<h5 class="nomar"><strong>Tasa</strong></h5>
                                        <h1 class="topmar10">{{credito.tasa}}%</h1>
                                    </div>
                                    <div class="col-sm-3">
                                    	<h5 class="nomar"><strong>TEA</strong></h5>
                                        <h1 class="topmar10">{{credito.tea}}</h1>
                                    </div>
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                	{% if tipoUsuario == "Concesionaria" %}
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="gastos">Gastos de otorgamiento</label>
                                            <input type="text" name="gastos" id="gastos" disabled class="form-control" tabindex="82" value="$150">
                                        </div>
                                	</div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="vencimiento">Primer vencimiento</label>
                                            <input type="date" name="vencimiento" id="vencimiento" disabled class="form-control" tabindex="83" value="2014-12-09">
                                        </div>
                                	</div>
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                	{% endif %}
                                    <div class="col-sm-12">
                                   	  	<label for="comentarios">Introduzca un comentario, consulta o indicaci&oacute;n que quiera hacernos llegar</label>
                                    	<textarea name="comentarios" id="comentarios" class="form-control" rows="8" tabindex="90" disabled>{{credito.comentarios}}</textarea>
                                    </div>						
                                    
                                </div>
	                   		</div> 
                        </div>  
                        <div class="col-md-12 toppad botpad"> 
                        	<input type="button" value="&laquo; Volver" class="btn btn-primary" onClick="location.href='{{path('creditos')}}'">
                        </div>
                    </form>  
            </div>
        </div>
    </div>
{% endblock %}