{% extends 'KellsFrontBundle:Default:base.html.twig' %}
{% block body %}

<div class="contenido-gris linea-gris-abajo botpad">
        	<div class="container">
	        	<div class="row">   
                	<div class="col-xs-12">
                    	<div class="row">   
		                	<div class="col-md-6 col-md-push-6 toppad ficha">
		                	
                          <div class="resultado-caja-izquierda">
                				      <h4 class="nomar text-negro">{%if car.year %} {{car.year.description}}  | {%endif%}{{car.km}} Km</h4>
                          </div>
                          <div class="resultado-caja-derecha">
      		    						{%if car.user %} 
      		    							<span class="ficha-publicacion-particular"><i class="fa fa-fw fa-user"></i> Particular</span>
      		    						{%else%}
      		    							<span class="ficha-publicacion-concesionaria"><i class="fa fa-fw fa-car"></i> Concesionaria</span>
      		    						{%endif%}
                          </div>
                         <h2 class="text-negro"><strong>{{ car.title }}</strong></h2>
                         <h4>{{car.description}}</h4>
                         <h2><span class="label label-default">{%if car.price and car.price != 0 %}$ {{car.price}} {% else %} A Convenir {% endif %}</span></h2>
                                 {% for flashMessage in app.session.flashbag.get('notice') %}
    								<div  id="divSuccess" class="alert alert-success" role="alert"><i class="fa fa-exclamation-circle fa-fw"></i>
       							 {{ flashMessage }}
    								</div>
									{% endfor %}
                                 <div class="well well-gris topmar">
                                 	<form action="{{path('consultar')}}" role="form" >
                                 		<h4 class="nomar">Escriba su consulta</h4>
                                        <textarea name="consulta"rows="6" class="form-control topmar20" tabindex="1" autofocus></textarea>
                                        <input name="btn_consultar" type="submit" value="Consultar ahora" tabindex="2" class="btn btn-alarfin btn-lg topmar20" required>
                                    	<input type="hidden" name="id" value="{{car.id}}"/>
                                    </form>
                                 </div>
                            </div>
		                	<div class="col-md-6 col-md-pull-6 toppad ficha-foto">
                				<div class="well well-blanco">
                            {%if not car.km %}
								<div class="km"></div>
							{%endif%}
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                      <ol class="carousel-indicators">
                                       <li data-target="#carousel-example-generic" data-slide-to="0" ></li>
                                       {% if car.image1 %}
                                       		<li data-target="#carousel-example-generic" data-slide-to="1" ></li>
                                       {% endif %}
                                       {% if car.image2 %}
                                       		<li data-target="#carousel-example-generic" data-slide-to="2" ></li>
                                       {% endif %}
                                       {% if car.image3 %}
                                       		<li data-target="#carousel-example-generic" data-slide-to="3" ></li>
                                       {% endif %}
                                       {% if car.image4 %}
                                       		<li data-target="#carousel-example-generic" data-slide-to="4" ></li>
                                       {% endif %}
                                       {% if car.image5 %}
                                       		<li data-target="#carousel-example-generic" data-slide-to="5" ></li>
                                       {% endif %}
                                       {% if car.image6 %}
	                                       <li data-target="#carousel-example-generic" data-slide-to="6" ></li>
									   {% endif %}
									   
                                      {% set  i = 1 %}
                                      {% for image in car.images %}
                                        <li data-target="#carousel-example-generic" data-slide-to="{{i}}" ></li>
                                        {% set i = i + 1 %}
                                      {% endfor %}
                                      </ol> 
                                      <div class="carousel-inner">
                                      	<div class="item active">
                                      	{% if car.mandatoryImageOriginal %}
                                      		<a class="fancybox" rel="group" href="http://45.58.39.148{{ asset(car.mandatoryImageOriginal.webPath) }}">
                                      	{% else %}
                                      		<a class="fancybox" rel="group" href="http://45.58.39.148{{ asset(car.mandatoryImage.webPath) }}">
                                      	{% endif %}	
                                          		<img src="http://45.58.39.148{{ asset(car.mandatoryImage.webPath) }}">
                                          	</a>  
                                        </div>
                                        {% if car.image1 %}
                                      	 <div class="item">
                                      	 	{% if car.image1Original %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image1Original.webPath) }}">
                                      	 	{% else %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image1.webPath) }}">
                                      	 	{% endif%}	
                                          		<img src="http://www.alarfin.com.ar{{asset(car.image1.webPath)}}"  >
                                          	</a>  
                                        </div>
                                        {% endif %}
                                       {% if car.image2 %}
                                         <div class="item">
                                         	{% if car.image2Original %}
                                      	 		<a class="facybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image2Original.webPath) }}">
                                      	 	{% else %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image2.webPath) }}">
                                      	 	{% endif%}	
                                          		<img src="http://www.alarfin.com.ar{{asset(car.image2.webPath)}}"  >
                                          	</a>  
                                        </div>
                                        {% endif %}
                                       {% if car.image3 %}
                                         <div class="item">
                                         	{% if car.image3Original %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image3Original.webPath) }}">
                                      	 	{% else %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image3.webPath) }}">
                                      	 	{% endif%}	
                                          		<img src="http://www.alarfin.com.ar{{asset(car.image3.webPath)}}"  >
                                          	</a>  
                                        </div>
                                        {% endif %}
                                       {% if car.image4 %}
                                         <div class="item">
											{% if car.image4Original %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image4Original.webPath) }}">
                                      	 	{% else %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image4.webPath) }}">
                                      	 	{% endif%}	                                          		
                                      	 	<img src="http://www.alarfin.com.ar{{asset(car.image4.webPath)}}"  >
                                          	</a>  
                                        </div>
                                        {% endif %}
                                       {% if car.image5 %}
                                         <div class="item">
                                         	{% if car.image5Original %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image5Original.webPath) }}">
                                      	 	{% else %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image5.webPath) }}">
                                      	 	{% endif%}	
                                          		<img src="http://www.alarfin.com.ar{{asset(car.image5.webPath)}}"   >
                                          	</a>  
                                        </div>
                                        {% endif %}
                                       {% if car.image6 %}
                                       <div class="item">
                                       		{% if car.image6Original %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image6Original.webPath) }}">
                                      	 	{% else %}
                                      	 		<a class="fancybox" rel="group" href="http://www.alarfin.com.ar{{ asset(car.image6.webPath) }}">
                                      	 	{% endif%}	
                                          		<img src="http://www.alarfin.com.ar{{asset(car.image6.webPath)}}"   >
                                          	</a>
                                        </div>
                                        {% endif %}
                                       
                                       
                                      {% for image in car.images %}
                                        <div class="item">
                                          <img src="{{asset(image.webPath)}}"  >
                                        </div>
                                        {% endfor %}
                                      </div>
                                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                      </a>
                                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                      </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 toppad">
                            	<div class="well well-blanco">
                                	<div class="row">
                                    	<div class="col-xs-12">
                                        	<h4 class="nomar text-negro botpad20 linea-gris-abajo text-center"><strong>Caracter&iacute;sticas principales</strong></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">Marca:</h5>
											<h4 class="nomar text-negro"><strong>{{car.trademark.description}}</strong></h4>
                                      	</div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">Modelo:</h5>
											<h4 class="nomar text-negro"><strong>{{car.model.description}}</strong></h4>
                                      	</div>
                                        <div class="clearfix visible-sm-block"></div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">A&ntilde;o:</h5>
											<h4 class="nomar text-negro"><strong>{% if car.year %} {{car.year.description}} {% endif %}</strong></h4>
                                      	</div>
                                         <div class="clearfix visible-md-block"></div>
                                    	<div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">Color:</h5>
											<h4 class="nomar text-negro"><strong>{{car.color}} </strong></h4>
                                      	</div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">&Uacute;nico due&ntilde;o:</h5>
											<h4 class="nomar text-negro"><strong>Si</strong></h4>
                                      	</div>
                                         <div class="clearfix visible-sm-block visible-lg-block"></div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">Puertas:</h5>
											<h4 class="nomar text-negro"><strong>5</strong></h4>
                                      	</div>

                                        <div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">Combustible:</h5>
											<h4 class="nomar text-negro"><strong>{% if car.fuel %} {{car.fuel.description}} {% endif %}</strong></h4>
                                      	</div>
                                        <div class="clearfix visible-md-block"></div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">Direcci&oacute;n:</h5>
											<h4 class="nomar text-negro"><strong>{% if car.direction %} {{car.direction.description}} {% endif %}</strong></h4>
                                      	</div>
                                         <div class="clearfix visible-sm-block"></div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 topmar20">
                                       	  	<h5 class="nomar">Kil&oacute;metros:</h5>
											<h4 class="nomar text-negro"><strong>{% if car.km %}{{ car.km }}{% endif %}</strong></h4>
                                      	</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 toppad text-center">
                        <h4 class="nomar text-negro"><strong>Otras caracter&iacute;sticas</strong></h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="ficha-caracteristicas">
                        <div class="col-sm-6 col-md-3 toppad">
                            <div class="linea-gris-abajo linea-gris-arriba pad15"><h4 class="nomar text-negro">Exterior</h4></div>
                            <ul>
                            {% if features %}
                            	{% for f in features %}
                            	 {% if f.featureType.description == "EXTERIOR" %}
                                	<li>{{ f.description}}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                      <div class="col-sm-6 col-md-3 toppad">
                        <div class="linea-gris-abajo linea-gris-arriba pad15"><h4 class="nomar text-negro">Sonido</h4></div>
                          <ul>
                           {% for feature in features %}
                            	 {% if feature.featureType.description == "SONIDO" %}
                                	<li>{{ feature.description}}</li>
                                {% endif %}
                           {% endfor %}
                          </ul>
                      </div>
                      	<div class="clearfix visible-sm-block"></div>
                        <div class="col-sm-6 col-md-3 toppad">
                            <div class="linea-gris-abajo linea-gris-arriba pad15"><h4 class="nomar text-negro">Confort</h4></div>
                            <ul>
                                {% for feature in features %}
                            	 {% if feature.featureType.description == "CONFORT" %}
                                	<li>{{ feature.description}}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                      <div class="col-sm-6 col-md-3 toppad">
                        <div class="linea-gris-abajo linea-gris-arriba pad15"><h4 class="nomar text-negro">Seguridad</h4></div>
                          <ul>
                            {% for feature in features %}
                            	 {% if feature.featureType.description == "SEGURIDAD" %}
                                	<li>{{ feature.description}}</li>
                                {% endif %}
                                {% endfor %}
                          </ul>
                        </div>
                    </div>
	                {% endif %}      
					{{ include('KellsFrontBundle:Default:buscador.html.twig') }}
       			</div>
        	</div>
        </div>






 
 {% endblock %}
