<header>
	<div class="container">
    	<div class="col-sm-3 header-logo">
			<a href="{{path('kells_front_homepage')}}"><img src="{{ asset('bundles/kellsfront/img/logo-alarfin-servicios-financieros.png') }}" width="178" height="59" alt="Alarfin - Servicios Financieros" title="Alarfin - Servicios Financieros" class="simg-responsive" /></a>
        </div>
        <div class="col-sm-9 header-botones">
            <div class="btn-group hidden-xs">
                <button type="button" class="btn btn-header btn-buscar" onclick="window.location.href='{{path('publicaciones')}}'">
                <span class="hidden-sm hidden-md hidden-lg">&nbsp;</span><span class="hidden-xs">Buscar Autom&oacute;vil</span>
                </button>
            </div>
            <div class="btn-group menu-principal">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {% if not app.user %}
            	<div class="btn-group btn-derecha">
                <button type="button" class="btn btn-header btn-usuario dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs hidden-sm">Soy Usuario</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('user_login_view', {'tipo': 'usuarios'}) }}"><strong>Ingresar</strong></a></li>
                    <li><a href="{{ path('userRegistration') }}"><strong>Registrarme</strong></a></li>
                </ul>
            </div>
           
            <div class="btn-group btn-derecha">
                <button type="button" class="btn btn-header btn-concesionaria dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs hidden-sm">Soy Concesionaria</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                     <li><a href="{{ path('user_login_view', {'tipo': 'concesionarias'}) }}"><strong>Ingresar</strong></a></li>
                    <li><a href="{{ path('licenseeRegistration')}}"><strong>Registrarme</strong></a></li>
                </ul>
            </div>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <div class="btn-group btn-derecha">
                <button type="button" class="btn btn-header btn-usuario dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs hidden-sm"></span> {{ app.user.firstName}} {{ app.user.lastName}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">Autom&oacute;vil</li>
                    <li><a href="{{ path('kells_front_homepage') }}"><i class="fa fa-search fa-fw"></i> Buscar</a></li>
                    <li><a href="{{ path('user_toPublish') }}"><i class="fa fa-car fa-fw"></i> Publicar</a></li>
                    <li><a href="{{ path('user_myPublications') }}"><i class="fa fa-file-text-o fa-fw"></i> Mis publicaciones</a></li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header">Cr&eacute;dito</li>
                    <li><a href="{{ path('simulador') }}"><i class="fa fa-calculator fa-fw"></i> Simular</a></li>
                    <li><a href="{{ path('creditRequest') }}"><i class="fa fa-money fa-fw"></i> Solicitar</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('logout')}}">Salir</a></li>
                </ul>
            </div>
            {% endif %}
           {% if is_granted('ROLE_LICENSEE') %}
            <div class="btn-group btn-derecha">
                <button type="button" class="btn btn-header btn-concesionaria dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs hidden-sm">{{ app.user.fantasyName}} </span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                	<li role="presentation" class="dropdown-header">Autom&oacute;vil</li>
                    <li><a href="{{ path('kells_front_homepage') }}"><i class="fa fa-search fa-fw"></i> Buscar</a></li>
                    <li><a href="{{ path('user_toPublish') }}"><i class="fa fa-car fa-fw"></i> Publicar</a></li>
                    <li><a href="{{ path('user_myPublications') }}"><i class="fa fa-file-text-o fa-fw"></i> Mis publicaciones</a></li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header">Cr&eacute;dito</li>
                    <li><a href="{{ path('simulador') }}"><i class="fa fa-calculator fa-fw"></i> Simular</a></li>
                    <li><a href="{{ path('creditRequest') }}"><i class="fa fa-money fa-fw"></i> Solicitar</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('logout')}}">Salir</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<div class="menu-interno">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <nav class="navbar" role="navigation">
            <div class="container">
                    <ul class="nav navbar-nav">
                        <li class="menu-primero"><a href="{{path('publicaciones')}}">Clasificados<span class="hidden-sm"> Alarfin</span></a></li>
                        <li><a href="{{ path('user_toPublish') }}">Publicar</a></li>
                        <li><a href="{{ path('user_myPublications') }}">Mis publicaciones</a></li>
                        <li><a href="{{ path('concesionarias') }}">Concesionarias</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-primero"><a href="{{ path('simulador') }}">Simular cr&eacute;dito</a></li>
                        <li><a href="{{ path('creditRequest') }}">Solicitar</a></li>
                    </ul>        
            </div>
        </nav>
    </div>
</div>