{% extends 'KellsFrontBundle:Default:base.html.twig' %}
{% block body %}
<div class="contenido-gris linea-gris-abajo">
	         <div class="container publicar">
                <div class="row">
                    <div class="col-xs-12 titulo">
                        <h1>Mis Publicaciones</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 titulo">
                    	<!--div class="well well-blanco text-left"-->
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="active"><a href="#publicados" role="tab" data-toggle="tab">Publicados</a></li>
                          <li><a href="#finalizados" role="tab" data-toggle="tab">Finalizados</a></li>
                          <li class="pull-right hidden-xs"><button class="btn btn-form-cancelar btn-sm" onClick="location.href='publicar.php'">Publicar Autom&oacute;vil</button></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="publicados">                     	
                            <table class="table table-striped table-bordered table-hover myTooltip" id="tabla-publicados">
                                <thead>
                                    <tr>
                                        <th width="10%" class="no-sort">Foto</th>
                                        <th width="5%">Publicado</th>
                                        <th width="30%">T&iacute;tulo</th>
                                        <th width="16%">Marca</th>
                                        <th width="16%">Modelo</th>
                                        <th width="10%">Precio</th>
                                        <th width="9%" class="no-sort">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for car in myCars%}
                                    <tr>
                                        <td><img src="{{asset(car.mandatoryImage.webPath)}}"  class="img-responsive"></td>
                                        <td>{{car.publishedDate|date('d/m/Y')}}</td>
                                        <td class="publicaciones-titulo"><a href="publicar.php">{{ car.title }}</a></td>
                                        <td>{{ car.trademark.description}}</td>
                                        <td>{{ car.model.description}}</td>
                                        <td>${{ car.price}}</td>
                                        <td nowrap><button class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Modificar publicaci&oacute;n"><i class="fa fa-pencil fa-fw"></i></button>&nbsp;<button class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Finalizar publicaci&oacute;n"><i class="fa fa-thumbs-o-down fa-fw"></i></button></td>
                                    </tr>
                                      {% endfor %}
                                </tbody>
                            </table>                                        
                          </div>
                          <div class="tab-pane" id="finalizados">
                          	<table class="table table-striped table-bordered table-hover myTooltip" id="tabla-finalizados">
                                <thead>
                                    <tr>
                                        <th width="10%" class="no-sort">Foto</th>
                                        <th width="5%">Publicado</th>
                                        <th width="30%">T&iacute;tulo</th>
                                        <th width="16%">Marca</th>
                                        <th width="16%">Modelo</th>
                                        <th width="10%">Precio</th>
                                        <th width="9%" class="no-sort">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="img/foto-auto.jpg" width="800" height="600" alt="Renault Kangoo excelente estado" class="img-responsive"></td>
                                        <td>10/01/2015</td>
                                        <td class="publicaciones-titulo"><a href="publicar.php">Renault Kangoo excelente estado</a></td>
                                        <td>Renault</td>
                                        <td>Kangoo</td>
                                        <td>$120000</td>
                                        <td nowrap><button class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Republicar"><i class="fa fa-undo fa-fw"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td><img src="img/foto-auto-2.jpg" width="800" height="600" alt="Descapotable Fiat 500" class="img-responsive"></td>
                                        <td>20/02/2015</td>
                                        <td class="publicaciones-titulo"><a href="publicar.php">Descapotable Fiat 500</a></td>
                                        <td>Fiat</td>
                                        <td>500</td>
                                        <td>$300000</td>
                                        <td nowrap><button class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Republicar"><i class="fa fa-undo fa-fw"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>                          
                          </div>
                        </div>
                    <!--/div-->                    
                </div>
                    </div>
                </div>
            </div>
        </div>
        <?php include('inc/inc-footer.php'); ?>  
        <script>
            $(document).ready(function() {
                $('#tabla-publicados').dataTable({
					"order": [[ 1, "desc" ]],
                    "aoColumnDefs" : [{
                    "bSortable" : false,
                    "aTargets" : [ "no-sort" ]
                    }]
                });
				$('#tabla-finalizados').dataTable({
					"order": [[ 1, "desc" ]],
                    "aoColumnDefs" : [{
                    "bSortable" : false,
                    "aTargets" : [ "no-sort" ]
                    }]
                });
				$('.myTooltip').tooltip({
					selector: "[data-toggle=tooltip]",
					container: "body"
				})
			})
		</script>
 {% endblock %}
