{% extends 'KellsFrontBundle:Default:base.html.twig' %}
{% block body %}
        <div class="contenido-gris linea-gris-abajo">
            <div class="container botpad publicar">
                <div class="row">
                    <div class="col-xs-12 titulo">
                        <h1>Solicitar Cr&eacute;dito</h1>
                    </div>
                </div>
                <div class="row">                
					<form action="{{ path('credit') }}" role="form" enctype="multipart/form-data" method="post">
                        <div id="solicitante-1">                   
                        <div class="col-md-12 topmar">
                        	<div class="well well-gris-claro">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert">
                                            <h4 class="nomar text-uppercase">Datos del solicitante</h4>
                                        </div>
                                    </div> 
                                	<div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="solicitante-nombre">Nombre</label>
                                          *
                                          <input type="text" name="solicitante-nombre" id="solicitante-nombre" required class="form-control input-lg" tabindex="1" autofocus>
                                        </div>
                                    </div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="solicitante-apellido">Apellido</label>
                                            *
                                            <input type="text" name="solicitante-nombre" id="solicitante-apellido" required class="form-control input-lg" tabindex="2">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                  <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-dni">DNI</label>
                                            *
                                            <input type="number" name="solicitante-dni" id="solicitante-dni" maxlength="8" required class="form-control" tabindex="3">
                                        </div>
                                  </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-nacimiento">Fecha de nacimiento</label>
                                            *
                                            <input type="date" name="solicitante-nacimiento" id="solicitante-nacimiento" required class="form-control" tabindex="4">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-estado-civil">Estado civil</label>
                                            *
                                            <select type="date" name="solicitante-estado-civil" id="solicitante-estado-civil" required class="form-control" tabindex="5">
                                            	<option>&nbsp;</option>
                                                <option>Soltero/a</option>
                                                <option>Casado/a</option>
                                                <option>Divorciado/a</option>
                                                <option>Viudo/a</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-domicilio">Domicilio</label>
                                            *
                                            <input type="text" name="solicitante-domicilio" id="solicitante-domicilio" required class="form-control" tabindex="6">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-provincia">Provincia</label>
                                            *
                                             
                                            <select name="solicitante-provincia" id="solicitante-provincia" required class="form-control" tabindex="7">
                                            	<option>&nbsp;</option>
                                                 {% for pcia in provinces %}
                                                <option value="{{ pcia.id }}">{{ pcia.description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                  <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-ciudad">Ciudad</label>
                                            *
                                            <select name="solicitante-ciudad" id="solicitante-ciudad" required class="form-control" tabindex="8">
                                            	<option>&nbsp;</option>
                                            </select>
                                        </div>
                                  </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-celular">Tel&eacute;fono celular</label>
                                            *
                                            <input type="tel" name="solicitante-celular" id="solicitante-celular" required class="form-control" tabindex="9">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-telefono">Tel&eacute;fono fijo</label>
                                            <input type="tel" name="solicitante-telefono" id="solicitante-telefono" class="form-control" tabindex="10">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-email">Email</label>
                                            <input type="email" name="solicitante-email" id="solicitante-email" class="form-control" tabindex="11">
                                        </div>
                                    </div>     
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-laboral">Actividad laboral</label>
                                          *
                                          <input type="text" name="solicitante-laboral" id="solicitante-laboral" required class="form-control" tabindex="12">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="solicitante-telefono-trabajo">Tel&eacute;fono del trabajo</label>
                                            <input type="tel" name="solicitante-telefono-trabajo" id="solicitante-telefono-trabajo" class="form-control" tabindex="13">
                                        </div>
                                    </div> 
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                  <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="solicitante-fotocopia-servicio">Fotocopia de un servicio</label>
                                            <input type="file" name="solicitante-fotocopia-servicio" id="solicitante-fotocopia-servicio" class="form-control" tabindex="14">
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="solicitante-fotocopia-dni">Fotocopia del DNI</label>
                                          <input type="file" name="solicitante-fotocopia-dni" id="solicitante-fotocopia-dni" class="form-control" tabindex="15">
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="solicitante-fotocopia-recibo">Fotocopia del recibo de sueldo</label>
                                          <input type="file" name="solicitante-fotocopia-recibo" id="solicitante-fotocopia-recibo" class="form-control" tabindex="16">
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="solicitante-fotocopia-ingresos">Fotocopia de comprobante de ingresos</label>
                                          <input type="file" name="solicitante-fotocopia-ingresos" id="solicitante-fotocopia-ingresos" class="form-control" tabindex="17">
                                        </div>
                                    </div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="solicitante-fotocopia-otra-1">Otra fotocopia</label>
                                            <input type="file" name="solicitante-fotocopia-otra-1" id="solicitante-fotocopia-otra-1" class="form-control" tabindex="18">
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="solicitante-fotocopia-otra-2">Otra fotocopia</label>
                                          <input type="file" name="solicitante-fotocopia-otra-2" id="solicitante-fotocopia-otra-2" class="form-control" tabindex="19">
                                        </div>
                                    </div> 


								<div id="conyuge-1">
                                   <div class="col-sm-12 topmar">
                                   	<div class="alert alert-danger" role="alert">
                                        <h4 class="nomar text-uppercase">Datos del c&oacute;nyuge</h4>
                                    </div>
                                   </div> 
                                     
								<div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="conyuge-nombre">Nombre</label>
                                          *
                                          <input type="text" name="conyuge-nombre" id="conyuge-nombre" required class="form-control input-lg" tabindex="20" autofocus>
                                        </div>
                                </div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="conyuge-apellido">Apellido</label>
                                            *
                                            <input type="text" name="conyuge-nombre" id="conyuge-apellido" required class="form-control input-lg" tabindex="21">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-dni">DNI</label>
                                            *
                                            <input type="number" name="conyuge-dni" id="conyuge-dni" maxlength="8" required class="form-control" autofocus tabindex="22">
                                        </div>
                                    </div>
									<div class="col-sm-4"> 
                                      <div class="form-group">
                                            <label for="conyuge-estado-civil">Estado civil</label>
                                            *
                                            <select type="date" name="conyuge-estado-civil" id="conyuge-estado-civil" required class="form-control" tabindex="23">
                                            	<option>&nbsp;</option>
                                                <option>Soltero/a</option>
                                                <option>Casado/a</option>
                                                <option>Divorciado/a</option>
                                                <option>Viudo/a</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
									<div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-domicilio">Domicilio</label>
                                          *
                                          <input type="text" name="conyuge-domicilio" id="conyuge-domicilio" required class="form-control" tabindex="24">
                                        </div>
                                    </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                          <label for="conyuge-provincia">Provincia</label>
                                          *
                                          <select name="conyuge-provincia" id="conyuge-provincia" required class="form-control" tabindex="25">
                                            	<option>&nbsp;</option>
                                                 {% for pcia in provinces %}
                                                <option value="{{ pcia.id }}">{{ pcia.description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                          <label for="conyuge-ciudad">Ciudad</label>
                                          *
                                          <select name="conyuge-ciudad" id="conyuge-ciudad" required class="form-control" tabindex="26">
                                            	<option>&nbsp;</option>
                                            </select>
                                        </div>
                                </div>
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-celular">Tel&eacute;fono celular</label>
                                            <input type="tel" name="conyuge-celular" id="conyuge-celular" class="form-control" tabindex="27">
                                      </div>
                                </div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-telefono">Tel&eacute;fono fijo</label>
                                            <input type="tel" name="conyuge-telefono" id="conyuge-telefono" class="form-control" tabindex="28">
                                        </div>
                                  </div>    
                                  <div class="clearfix"></div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-laboral">Actividad laboral</label>
                                          *
                                          <input type="text" name="conyuge-laboral" id="conyuge-laboral" required class="form-control" tabindex="29">
                                        </div>
                                </div>
                                <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="conyuge-telefono-trabajo">Tel&eacute;fono del trabajo</label>
                                          <input type="tel" name="conyuge-telefono-trabajo" id="conyuge-telefono-trabajo" class="form-control" tabindex="30">
                                        </div>
                                </div>
<div class="col-sm-12 nomar"><hr class="topmar10"></div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="conyuge-fotocopia-dni">Fotocopia del DNI</label>
                                          <input type="file" name="conyuge-fotocopia-dni" id="conyuge-fotocopia-dni" class="form-control" tabindex="31">
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="conyuge-fotocopia-otra-1">Otra fotocopia</label>
                                            <input type="file" name="conyuge-fotocopia-otra-1" id="conyuge-fotocopia-otra-1" class="form-control" tabindex="32">
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                          <label for="conyuge-fotocopia-otra-2">Otra fotocopia</label>
                                          <input type="file" name="conyuge-fotocopia-otra-2" id="conyuge-fotocopia-otra-2" class="form-control" tabindex="33">
                                        </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="conyuge-fotocopia-otra-3">Otra fotocopia</label>
                                            <input type="file" name="conyuge-fotocopia-otra-3" id="conyuge-fotocopia-otra-3" class="form-control" tabindex="34">
                                        </div>
                                    </div> 
                                    </div>   
                                </div>
	                   		</div> 
                        </div>
						</div>

	                    <div class="col-md-12 topmar">
                        	<div class="well well-gris-claro">
                              <div class="row">
                              		<div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert">
                                            <h4 class="nomar text-uppercase">Unidad a adquirir</h4>
                                        </div>
                                    </div> 
                                    <div class="col-sm-5">                                
                                        <div class="form-group">
                                            <label for="marca">Marca</label>
                                            *
                                            <select name="marca" id="marca" class="form-control input-lg" required tabindex="60">
                                            	<option> &nbsp; </option>
                                                <option> Seleccioná una marca </option>
                                            	{% for trademark in trademarks %}
                                                <option value="{{ trademark.id }}">{{ trademark.description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5"> 
                                      <div class="form-group">
                                            <label for="modelo">Modelo</label>
                                            *
                                            <select name="modelo" id="modelo" class="form-control input-lg" required tabindex="61">
                                            	<option> Seleccion&aacute; un modelo </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">                                
                                        <div class="form-group">
                                          <label for="ano">Año</label>
                                          *
                                          <select name="ano" id="ano" required class="form-control input-lg" tabindex="62">
                                            	<option>&nbsp;</option>
                                           		{% for year in years %}
                                                <option value="{{ year.id }}">{{ year.description }}</option>
                                                {% endfor %}
                                          </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3"> 
                                        <div class="form-group">
                                            <label for="valor">Valor</label>
                                            *
                                            <input type="text" name="valor" id="valor" required class="form-control" tabindex="63">
                                        </div>
                                	</div>
                                    <div class="col-sm-3"> 
                                        <div class="form-group">
                                            <label for="tipo">Tipo</label>
                                            *
                                            <select name="tipo" id="tipo" required class="form-control" tabindex="64">
                                            	<option>&nbsp;</option>
                                                <option>Sedan</option>
                                                <option>Sedan 2 puertas</option>
                                                <option>Sedan 3 puertas</option>
                                                <option>Sedan 4 puertas</option>
                                                <option>Sedan 5 puertas</option>
                                                <option>Rural</option>
                                                <option>Rural 4 puertas</option>
                                                <option>Rural 5 puertas</option>
                                                <option>Familiar</option>
                                                <option>Coupe</option>
                                                <option>Microcoupe</option>
                                                <option>Todo terreno</option>
                                                <option>Pick up</option>
                                                <option>Pick up cabina simple</option>
                                                <option>Pick up cabina dobble</option>
                                                <option>Autom&oacute;vil</option>
                                                <option>Berlina</option>
                                                <option>Chasis con cabina</option>
                                                <option>Cami&oacute;n</option>
                                                <option>Tractor de carretera</option>
                                                <option>Semi remolque</option>
                                                <option>Furgon</option>
                                                <option>Furgoneta</option>
                                                <option>Combi</option>
                                                <option>&Oacute;mnibus</option>
                                                <option>Minibus</option>
                                            </select>
                                        </div>
                                	</div>
                                    <div class="col-sm-3"> 
                                        <div class="form-group">
                                            <label for="dominio">Dominio</label>
                                            <input type="text" name="dominio" id="dominio" class="form-control" tabindex="65">
                                        </div>
                                	</div>
                                    <div class="col-sm-3">                                
                                        <div class="form-group">
                                          <label for="combustible">Combustible</label>
                                          *
                                          <select name="combustible" id="combustible" required class="form-control" tabindex="66">
                                            	<option>&nbsp;</option>
                                           {% for fuel in fuels %}
                                                <option value="{{ fuel.id }}">{{ fuel.description }}</option>
                                                {% endfor %}
                                          </select>
                                        </div>
                                    </div>
                                </div>
	                   		</div> 
                        </div>                        
                                        
 
                        <div class="col-md-12 topmar">
                        	<div class="well well-gris-claro">
                              <div class="row">
                              		<div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert">
                                            <h4 class="nomar text-uppercase">Cr&eacute;dito prendario</h4>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6">                                
                                        <div class="form-group">
                                            <label for="monto">Monto solicitado</label>
                                          	*
                                          	<input type="text" name="monto" id="monto" required class="form-control input-lg" tabindex="80">
                                        </div>
                                    </div>
                                    <div class="col-sm-3"> 
                                      <div class="form-group">
                                            <label for="cuotas">Cuotas</label>
                                            *
                                            <select name="cuotas" id="cuotas" class="form-control input-lg" required tabindex="81">
												<option>&nbsp;</option>
                                                <option>2</option>
                                                <option>4</option>
                                                <option>6</option>
                                                <option>8</option>
                                                <option>10</option>
                                                <option>12</option>
                                                <option>14</option>
                                                <option>18</option>
                                                <option>22</option>
                                                <option>24</option>
                                                <option>26</option>
                                                <option>28</option>
                                                <option>30</option>
                                                <option>32</option>
                                                <option>34</option>
                                                <option>36</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                    	<h5 class="nomar"><strong>Valor de la cuota</strong></h5>
                                        <h1 class="topmar10">-</h1>
                                    </div>
                                    <div class="col-sm-12 nomar"><hr class="topmar10"></div>                      
                                    <div class="col-sm-12">
                                   	  	<label for="comentarios">Introduzca un comentario, consulta o indicaci&oacute;n que quiera hacernos llegar</label>
                                    	<textarea name="comentarios" id="comentarios" class="form-control" rows="8" tabindex="90"></textarea>
                                    </div>
                                </div>
	                   		</div> 
                        </div>  
                        
                                               
                      <div class="col-md-12 text-center toppad"> 
                       	  <button type="submit" class="btn btn-alarfin btn-lg" tabindex="100">SOLICITAR CR&Eacute;DITO</button>&nbsp;&nbsp; 
                          <button type="button" class="btn btn-form" tabindex="101">Cancelar</button>
                        </div>
                    </form>
                </div>           
            </div>
        </div>
        
       {% endblock %}